/* https://www.color-hex.com/color-palette/1040963 */
table {
    border-collapse: separate; /* or collapse */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden; /* Ensures the border-radius is applied */
}
  
th, td {
    text-align: center;
    padding: 8px;
}
  
/* tr:nth-child(even){background-color: #f2f2f2} */

tr {
    background-color: #f2f2f2}

  
th {
    /* background-color: #8fbbbc; */
    background-color: #3d3d3d;
    color: white;
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
    margin-right: 130px;
}

.sub-title {
    text-align: left;
    margin-left: 45px;
}

.table-container {
    width: 50%; /* Each table container takes up 50% of the width */
    float: left; /* Float the containers left so they appear side by side */
}
  
.side-by-side-table {
    width: 90%; /* Make the tables fill the width of their containers */
    padding: 0;
}

.search {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 12vh;
}

.search input[type=text] {
    width: 200%;
    padding: 12px 20px;
    margin: 20px 0;
    line-height: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.container {
    display: flex;
    align-items: center; /* Optional: align items vertically */
    justify-content: center; 
}

.highlight {
    background-color: #f7f9ed !important;
}

.highlight2 {
    background-color: #9ebccf!important;
}

.row {
    display: flex;
    flex: 0 0 14.28571428571429%;
    padding: 5px;
    position: relative;
}

.row.available {
    background-color: #466f4b;
  }

.row.full {
    background-color: #F42536;
}

.row.date{
    background-color: #599AFE;
}

.showcase {
    /* background: rgba(0, 0, 0, 0.1); */
    padding: 25px 50px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}
  
.showcase li small {
    margin-left: 20px;
}
