/* https://www.color-hex.com/color-palette/1040963 */
table {
    border-collapse: collapse;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
  
th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #8fbbbc;
    color: white;
}

.title {
    text-align: center;
}

.sub-title {
    text-align: left;
    margin-left: 19px;
}

.table-container {
    width: 50%; /* Each table container takes up 50% of the width */
    float: left; /* Float the containers left so they appear side by side */
  }
  
.side-by-side-table {
    width: 97%; /* Make the tables fill the width of their containers */
}