{% include 'header_1.html' %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/table.css') }}">

<!-- Heading -->
<br>
<br>
<div class="title">
    <h2>List all ongoing tours</h2>
</div>
<br>
<!-- Table -->
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Detail</th>
    </tr>
    <tbody id="tab1">
        {% for tour in tours %}
            <tr>
                <td>{{tour['id']}}</td>
                <td>{{tour['name']}}</td>
                <td>{{tour['duration']}}</td>
                <td><button><a href="{{ url_for('main.list_single_tour', tourid=tour.id) }}">See schedules</a></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchtour").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tab1 tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    // Highlight row when hovering
    $("#tab1 tr").hover(function() {
        var index = $(this).index();
        $("#tab1 tr").eq(index).addClass("highlight2");
    }, function() {
        $("#tab1 tr").removeClass("highlight2");
    }
);
</script>



